/*
 *= require font-awesome
 */
@import 'bootstrap';
@import url(https://fonts.googleapis.com/css?family=Lato:100,400,700);

html body {
   font-family: Lato;
   background: #fff;
}

.box {
   -moz-box-shadow: 0 0 5px 5px #888;
   -webkit-box-shadow: 0 0 5px 5px#888;
   box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
}

.top {
      -moz-box-shadow: inset 0 -16px 29px #cfcfcf;
      -webkit-box-shadow: inset 0 -16px 29px #cfcfcf;
      box-shadow: inset 0 -16px 29px #BABABA;
      background: url(https://raw.githubusercontent.com/dannysun725/portfolio/master/app/assets/images/clean-white-polygon-backgrounds-4.jpg)  no-repeat center center fixed;;
      background-size: cover;
}

.header {
   height: 55px;
   background: #fff;
   padding: 20px 30px 0 30px;
   font-size: 10px;
   p {
      word-spacing: 60px;
      text-transform: uppercase;
      font-weight: 700;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
   }
}

.first {
   padding-top: 77px;
   color: #000;
   height: 250px;

   h1 {
      font-weight: 700;
      font-size: 42px;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
      margin-bottom: -5px;
   }
   p {
      font-weight: 100;
      font-size: 17px;
   }
   mark {
      background: #000;
      color: #fff;
   }
}

.second {
   padding-top: 32px;
   background: #e74c3c;
   height: 180px;
   color: #fff;
   margin-bottom: 40px;
   h1 {
      font-weight: 700;
      font-size: 50px;
      margin-bottom: -5px;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
   }
   em {
      font-weight: 100;
   }
}

#featured {
   h3 {
      font-weight: 400;
      font-size: 20px;
   }
}

.row {
   padding: 50px;
}

.footer {
   margin-top: 50px;
   height: 220px;
   background: #ecf0f1;
   h2 {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 700;
   }
   h3 {
      font-size: 16px;
      font-weight: bold;
   }
   p {
      font-size: 13px;
   }
}

.row {
   padding-top: 40px;
   padding-bottom: 0px;
}

.project-wrapper {
   border-bottom: 1px dashed black;
}


figure.effect-sadie figcaption::before {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
   background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
   content: '';
   opacity: 0;
   -webkit-transform: translate3d(0,50%,0);
   transform: translate3d(0,50%,0);
}

figure.effect-sadie h2 {
   position: absolute;
   top: 50%;
   left: 0;
   width: 100%;
   color: #484c61;
   -webkit-transition: -webkit-transform 0.35s, color 0.35s;
   transition: transform 0.35s, color 0.35s;
   -webkit-transform: translate3d(0,-50%,0);
   transform: translate3d(0,-50%,0);
}

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
   -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
   transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie p {
   position: absolute;
   bottom: 0;
   left: 0;
   padding: 2em;
   width: 100%;
   opacity: 0;
   -webkit-transform: translate3d(0,10px,0);
   transform: translate3d(0,10px,0);
}

figure.effect-sadie:hover h2 {
   color: #fff;
   -webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
   transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover p {
   opacity: 1;
   -webkit-transform: translate3d(0,0,0);
   transform: translate3d(0,0,0);
}
